<meta charset="UTF-8">
<title>{{ site.title }} | FOSSASIA</title>
<meta name="description" content="FOSSASIA - Developing Open Source Software and Hardware to improve people's lives. Solutions for Event Management, Artificial Intelligence, Big Data, Design Thinking and Free Knowledge Tools. FOSSASIA is Asia's Premier Open Technology Organization.">
<meta name="keywords" content="Open Source, Development, FOSSASIA, FOSS, Free and Open Source Software, Asia">
<meta name="author" content="FOSSASIA">
<meta property="og:title" content="FOSSASIA">
<meta property="og:type" content="website">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@fossasia">
<meta name="twitter:title" content="FOSSASIA">
<meta name="twitter:description" content="FOSSASIA Open Technology Organization - Developing Open Source, Big Data, Design Thinking and Free Knowledge Tools with Asia's Premier Open Technology Organization">
<meta name="twitter:creator" content="@fossasia">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/flexslider.min.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/elegant-icons.min.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/pe-icon-7-stroke.min.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/lightbox.min.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/theme-lava.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/custom.css" rel="stylesheet" type="text/css" media="all" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel='stylesheet' type='text/css'>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel="stylesheet" type="text/css">
