<a id="top"></a>
<div class="nav-container">
  <nav class="overlay-nav">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <a href="http://fossasia.org"><img alt="FOSSASIA" class="logo logo-light" src="assets/img/fossasia-long.png">
            <img alt="FOSSASIA" class="logo logo-dark" src="assets/img/fossasia-dark.png"></a>
        </div>
        <div class="col-md-10 text-right">
          <ul class="menu">
            <li class="has-dropdown"><a>About</a>
              <ul class="nav-dropdown" style="min-height:100px">
                <!--whenever you add/remove an option, change the style="min-height:425px" by +- 25px-->
                <li><a target="_self" href="http://fossasia.org/about">About</a></li>
                <li><a target="_self" href="http://fossasia.org/about#background">Background & Mission</a></li>
                <li><a target="_self" href="http://fossasia.org/licenses">Licenses</a></li>
                <li><a target="_self" href="http://fossasia.org/team">Team</a></li>
              </ul>
            </li>
            <li class="has-dropdown"><a>Apply</a>
              <ul class="nav-dropdown" style="min-height:175px">
                <!--whenever you add/remove an option, change the style="min-height:425px" by +- 25px-->
                <li><a target="_self" href="http://fossasia.org/apply.html">Apply</a></li>
                <li><a target="_self" href="http://fossasia.org/apply-students">University Student Programs/Internships</a></li>
                <li><a target="_self" href="http://fossasia.org/apply-pupils">Pre-University Student
                    Programs/Internships</a></li>
                <li><a target="_self" href="http://codeheat.org">Code Heat Contest</a></li>
                <li><a target="_self" href="/adp">Advanced Developer Program</a></li>
              </ul>
            </li>
            <li class="has-dropdown"><a>Projects</a>
              <ul class="nav-dropdown" style="max-height:200px; overflow-y:scroll">
                <li><a target="_self" class="inner-link" href="#projects">Projects</a></li>
                <li><a target="_self" href="https://github.com/fossasia">Contribute on Github</a></li>
                <li><a target="_self" href="http://labs.fossasia.org/ideas.html">Project Ideas</a></li>
                <li><a target="_self" class="inner-link" href="#top">FOSSASIA Labs</a></li>
                <li><a target="_self" href="http://susi.ai">SUSI.AI</a></li>
                <li><a target="_self" href="http://Eventyay.com">eventyay</a></li>
                <li><a target="_self" href="http://loklak.org">loklak Social Search</a></li>
                <li><a target="_self" href="http://susper.com">Susper Seach Engine</a></li>
                <li><a target="_self" href="http://yaydoc.org">Yaydoc Document Generator</a></li>
                <li><a target="_self" href="http://phimp.me">Phimp.me Image App</a></li>
                <li><a target="_self" href="http://meilix.fossasia.org">Meilix Linux</a></li>
                <li><a target="_self" href="http://pslab.fossasia.org/">Pocket Science Lab</a></li>
                <li><a target="_self" href="https://query-server.herokuapp.com/">Query Server</a></li>
                <li><a target="_self" href="https://knitting.fossasia.org/">Knitting Lab</a></li>
                <li><a target="_self" href="https://badgeyay-dev.herokuapp.com/">Badgeyay</a></li>
                <li><a target="_self" href="https://gci18.fossasia.org">Code-In 2018</a></li>
                <li><a target="_self" href="https://gci17.fossasia.org">Code-In 2017</a></li>
                <li><a target="_self" href="https://gci16.fossasia.org">Code-In 2016</a></li>
                <li><a target="_self" href="https://gci15.fossasia.org">Code-In 2015</a></li>
                <li><a target="_self" href="https://gci14.fossasia.org">Code-In 2014</a></li>
              </ul>
            </li>
            <li><a target="_self" href="http://fossasia.org/#subscribe">Subscribe</a></li>
            <li><a href="http://blog.fossasia.org" target="_self">Blog</a></li>
            <li class="has-dropdown"><a>Events</a>
              <ul class="nav-dropdown" style="max-height:200px; overflow-y:scroll">
                <!--whenever you add/remove an option, change the style="min-height:425px" by +- 25px-->
                <li><a target="_self" href="http://events.fossasia.org">Events</a></li>
                <li><a target="_self" href="http://events.fossasia.org/#sponsorship">Sponsorship</a></li>
                <li><a target="_self" href="http://eventyay.com">FOSSASIA Event Management</a></li>
                <li><a href="http://sciencehack.asia" target="_self">Science Hack Asia</a></li>
                <li><a href="http://sciencehack.in" target="_self">Science Hack India</a></li>
                <li><a target="_self" href="http://2019.fossasia.org">FOSSASIA Summit 2019</a></li>
                <li><a target="_self" href="http://opentechsummit.cn">OpenTechSummit China</a></li>
                <li><a target="_self" href="http://jugaadfest.com">Jugaadfest India</a></li>
                <li><a target="_self" href="http://2017.fossasia.org">FOSSASIA Summit 2017</a></li>
                <li><a target="_self" href="http://2016.fossasia.org">FOSSASIA Summit 2016</a></li>
                <li><a target="_self" href="http://2015.fossasia.org">FOSSASIA Summit 2015</a></li>
                <li><a target="_self" href="http://2014.fossasia.org">FOSSASIA Summit 2014</a></li>
                <li><a target="_self" href="http://2012.fossasia.org">FOSSASIA Summit 2012</a></li>
                <li><a target="_self" href="http://2011.fossasia.org">FOSSASIA Summit 2011</a></li>
                <li><a target="_self" href="http://2010.fossasia.org">FOSSASIA Summit 2010</a></li>
                <li><a target="_self" href="http://2009.fossasia.org">GNOME.Asia 2009</a></li>
                <li><a target="_self" href="http://coc.fossasia.org">Code of Conduct</a></li>
              </ul>
            </li>
            <li><a href="https://fossasia.org/donate/" target="_self">Donate</a></li>
            <li><a href="https://blog.fossasia.org/contact/" target="_self">Contact</a></li>
            <li class="social-link"><a href="http://twitter.com/fossasia" target="_self"><i class="icon social_twitter"></i></a></li>
            <li class="social-link"><a href="https://facebook.com/fossasia" target="_self"><i class="icon social_facebook"></i></a></li>
            <li class="social-link"><a href="https://github.com/fossasia/labs.fossasia.org" target="_self"><i class="fa fa-github fa-lg"></i></a></li>
          </ul>
          <div class="mobile-menu-toggle"><i class="icon icon_menu"></i></div>
        </div>
      </div>
    </div>

    <div class="bottom-border"></div>
  </nav>
</div>
